android/
ios/
node_modules/
__tests__/
.buckconfig
.editorconfig
.eslintrc.js
.gitattributes
.gitignore
.prettierrc.js
.watchmanconfig
app.json
babel.config.js
index.js
metro.config.js
package-lock.json
package.json
tsconfig.json
yarn.lock